/*
	Theme Name: Custom Theme
	Description: A simple custom theme.
	Version: 0.1
	Author: VictorBP
	Text Domain: customtheme
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}
img {
	max-width: 100%;
}
.widget {
    padding: 5px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}
main.container {
	padding-bottom: 10vh;
}